<section class="warehouse-section bg-image h-screen py-5">
  <div class="container">
    <h2 class="text-white text-center display-3 fw-bold">
      LABYFI <span class="text-green">Warehouse</span>
    </h2>
    <p class="text-white w-lg-75 text-center mx-auto mb-5">
      At LABYFI's Warehouse, we are dedicated to the highest standards of
      service, integrity, and excellence in healthcare logistics. We offer our
      clients a vast suite of selection for their practice's needs. Not only are
      you able to customize your kits, but you can have them prefilled and
      delivered to your clients doorsteps at no hassle to you . Our virtual
      warehouse will allow for our clients to know their stock and threshholds
      and to place orders through our online portal.
    </p>
  </div>

  <div class="warehouse-swiper-section position-relative pt-5">
    <div class="swiper-pagination top-0"></div>

    <swiper [config]="swiperConfig" class="py-5">
      <ng-template swiperSlide>
        <div class="h-100">
          <img src="../../../assets/img/warehouse-1.png" alt="" />
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="h-100">
          <img src="../../../assets/img/warehouse-2.png" alt="" />
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="h-100">
          <img src="../../../assets/img/warehouse-3.png" alt="" />
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="h-100">
          <img src="../../../assets/img/warehouse-1.png" alt="" />
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="h-100">
          <img src="../../../assets/img/warehouse-2.png" alt="" />
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="h-100">
          <img src="../../../assets/img/warehouse-3.png" alt="" />
        </div>
      </ng-template>
    </swiper>
  </div>
</section>

<section class="services-section py-6 bg-light-1">
  <div class="container">
    <p class="text-green text-center fw-bold text-uppercase">Warehouse</p>
    <h2 class="text-center mt-2 mb-5">Our commitment is unwavering</h2>

    <div class="row justify-content-center">
      <div class="col-md-4 my-3">
        <div class="custom-card h-100 d-flex flex-column gap-4">
          <h4 class="text-center m-0">Patient-Centric</h4>

          <p class="text-gray-2 text-center">
            We understand the critical importance of our role in patient care.
            Our commitment is to ensure that medical supplies and kits are
            readily available when needed, contributing to better patient
            outcomes and well-being.
          </p>
        </div>
      </div>
      <div class="col-md-4 my-3">
        <div class="custom-card h-100 d-flex flex-column gap-4">
          <h4 class="text-center m-0">Quality and Safety</h4>

          <p class="text-gray-2 text-center">
            We are committed to upholding the highest standards of quality and
            safety in the storage and distribution of medical products. We
            adhere to stringent protocols to safeguard the integrity of the
            products we handle.
          </p>
        </div>
      </div>
      <div class="col-md-4 my-3">
        <div class="custom-card h-100 d-flex flex-column gap-4">
          <h4 class="text-center m-0">Timely and Reliable</h4>

          <p class="text-gray-2 text-center">
            We pledge to maintain the highest level of reliability and
            punctuality in our services. Healthcare providers can depend on us
            to deliver vital supplies and equipment promptly, reducing
            disruptions in patient care and to your practice.
          </p>
        </div>
      </div>
      <div class="col-md-4 my-3">
        <div class="custom-card h-100 d-flex flex-column gap-4">
          <h4 class="text-center m-0">Innovation and Efficiency</h4>

          <p class="text-gray-2 text-center">
            We are dedicated to continuous improvement, seeking innovative
            solutions to enhance our operations, reduce costs, and minimize
            waste. Our commitment to efficiency ensures that healthcare
            resources are used effectively.
          </p>
        </div>
      </div>
      <div class="col-md-4 my-3">
        <div class="custom-card h-100 d-flex flex-column gap-4">
          <h4 class="text-center m-0">Regulatory Compliance</h4>

          <p class="text-gray-2 text-center">
            We vow to meet and exceed all regulatory and compliance requirements
            in the healthcare industry. Our practices align with industry
            standards, ensuring the safety and legality of all medical products
            in our care.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
