<section id="contact" class="">
  <div class="container">
    <div class="row justify-content-between gx-lg-5">
      <div class="col-lg-6 d-flex flex-column py-6 bg-white">
        <h3 class="fw-normal text-blue-2 lh-base">
          <span class="fw-bolder">Contact Us </span> <br />Obtain our
          Informational Packet
        </h3>

        <app-contact-form></app-contact-form>

        <ul class="links mt-5">
          <li>
            <a
              href="tel:(631)-836-8077"
              target="_blank"
              class="nav-link text-blue-2 hover:underline"
              ><i class="fa-solid fa-phone text-green me-2"></i>
              (631)-836-8077</a
            >
          </li>
          <li>
            <p class="nav-link text-blue-2">
              <i class="fa-solid fa-location-dot text-green me-2"></i>Rye, NY
            </p>
          </li>
          <li>
            <a
              href="mailto:info@labyfi.com"
              class="nav-link text-blue-2 hover:underline"
              ><i class="fa-solid fa-envelope text-green me-2"></i
              >info@labyfi.com</a
            >
          </li>
        </ul>
      </div>

      <div class="col-lg-6 py-6 bg-light-1">
        <h3 class="fw-normal text-blue-2 lh-base">Drive for Us</h3>

        <p class="text-gray-2 lh-base">
          If you wish to engage in a contract with Lab Logistics, kindly
          complete and submit a driver profile.
        </p>

        <app-driver-form></app-driver-form>
      </div>
    </div>
  </div>
</section>
