<div class="d-flex">
  <div class="d-none d-lg-block flex-2">
    <img
      src="../../../../../assets/img/login.png"
      alt=""
      class="w-100 h-100 object-fit-cover"
    />
  </div>
  <div
    class="py-5 px-4 px-lg-5 flex-3 d-flex flex-column justify-content-center"
  >
    <h1 class="text-blue-2 fw-semibold fs-3">Forgot Your Password?</h1>
    <p class="text-gray-4">Enter your email to reset your password</p>
    <form
      [formGroup]="forgetPasswordForm"
      (ngSubmit)="onSubmit()"
      class="d-flex flex-column gap-4 mt-5"
    >
      <div class="input-group d-flex align-items-start flex-column gap-2">
        <label for="email-login" class="fw-semibold">Email</label>
        <input
          type="email"
          class="form-control w-100"
          id="email-login"
          placeholder="Your email"
          formControlName="email"
          [ngClass]="{
            'is-valid': isFieldValid('email'),
            'is-invalid': isFieldInvalid('email')
          }"
        />
        <div class="invalid-feedback" *ngIf="isFieldInvalid('email')">
          Email is invalid
        </div>
      </div>

      <button
        [loadingSpinner]="loading"
        type="submit"
        class="btn bg-blue-2 mt-5 p-3 w-100 w-md-50 align-self-center text-white fw-semibold"
      >
        Send Reset Code
      </button>
    </form>

    <p class="text-center mt-3">
      Remembered your password?
      <button class="btn p-0 text-green" (click)="login()" type="button">
        Login
      </button>
    </p>
  </div>
</div>
