<nb-card>
  <nb-card-header>
    <div style="display: flex; justify-content: space-between; align-items: center">
      <span>Doctor info</span>
      <a routerLink="./addresses" nbButton status="primary">Doctor Addresses</a>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="createDoctorForm" >

      <input type="text" class="col-5 mr-5 mt-1" nbInput fullWidth placeholder="Name" [ngClass]="{
          'is-valid': isFieldValid('name'),
          'is-invalid': isFieldInvalid('name')
        }" formControlName="name" />
      <div *ngIf="isFieldInvalid('name')" class="invalid-feedback">
        Name invalid
      </div>
      <input type="email" class="col-5 mr-5 mt-1" nbInput fullWidth placeholder="email" [ngClass]="{
          'is-valid': isFieldValid('email'),
          'is-invalid': isFieldInvalid('email')
        }" formControlName="email" />
      <div *ngIf="isFieldInvalid('email')" class="invalid-feedback">
        email invalid
      </div>

      <!-- <input type="phone" class="col-5 mr-5 mt-3" nbInput fullWidth placeholder="Phone" [ngClass]="{
          'is-valid': isFieldValid('phone'),
          'is-invalid': isFieldInvalid('phone')
        }" formControlName="phone" />
      <div *ngIf="isFieldInvalid('phone')" class="invalid-feedback">
        Phone invalid
      </div> -->
      <!-- // TODO: 7 -->
      <input type="text" class="col-5 mr-5 mt-3" nbInput fullWidth readonly formControlName="user_id"
        [placeholder]="'company id : ' + 'selectedCompany_id'" />
      <div>
        <button nbButton class="mt-3 mr-3" type="submit" [disabled]="!createDoctorForm.valid" (click)="onSubmit()">
          <i class="spinner-border spinner-border-sm mr-2" *ngIf="loading"></i>Save
        </button>
        <button nbButton class="mt-3" (click)="cancel()">cancel</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
