<!-- <nb-card>
  <nb-card-header> Orders without drivers </nb-card-header>

  <nb-card-body [nbSpinner]="loading">
    <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (edit)="onEditeConfirm($event,createDialog)"
    >
    </ng2-smart-table>

    <ng-container *ngIf="paginationArgs">
      <ng-template
        *ngFor="let item of data | paginate : paginationArgs"
      ></ng-template>
    </ng-container>

    <pagination-controls
      *ngIf="paginationArgs"
      id="pagination"
      (pageChange)="getOrders($event)"
      (pageBoundsCorrection)="getOrders($event)"
      previousLabel="Previous"
      nextLabel="Next"
      screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page"
      screenReaderCurrentLabel="You're on page"
    >
    </pagination-controls>
  </nb-card-body>
</nb-card> -->
<div class="card">
  <p-table
    #dt2
    [columns]="selectedColumns"
    dataKey="order_id"
    [value]="data"
    [paginator]="true"
    [first]="first"
    [rows]="15"
    [showCurrentPageReport]="true"
    styleClass="p-datatable-gridlines"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [resizableColumns]="true"
    [reorderableColumns]="true"
    (onColReorder)="onColumnReorder($event)"
    [lazy]="true"
    (onLazyLoad)="getOrders(0, $event)"
    [totalRecords]="totalRecords"
    [globalFilterFields]="[
      'order_type',
      'status_type',
      'order_code',
      'driver_name'
    ]"
  >
    <ng-template pTemplate="caption" class="d-flex justify-content-between">
      Orders
      <p-multiSelect
        [options]="cols"
        [(ngModel)]="selectedColumns"
        optionLabel="header"
        selectedItemsLabel="{0} columns selected"
        [style]="{ 'min-width': '200px' }"
        placeholder="Choose Columns"
      ></p-multiSelect>
      <!-- <div class="flex">
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText #search type="text" (input)="dt2.filterGlobal(search.value , 'contains')"
            placeholder="Search keyword" />
        </span>
      </div> -->
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th class="text-center" pResizableColumn>Actions</th>
        <th *ngFor="let col of columns" pResizableColumn pReorderableColumn>
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-allOrders let-columns="columns">
      <tr [ngClass]="getOrderStatusClass(allOrders.status_type)">
        <td class="d-flex">
          <a (click)="onEditeConfirm(allOrders, createDialog)" class="tableBtn"
            ><i class="nb-edit"></i
          ></a>
        </td>

        <td *ngFor="let col of columns">
          {{ allOrders[col.field] }}
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="paginatorfirstpagelinkicon">
      <p-button
        type="button"
        icon="pi pi-angle-double-left"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorpreviouspagelinkicon">
      <p-button
        type="button"
        icon="pi pi-angle-left"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
    <ng-template pTemplate="paginatornextpagelinkicon">
      <p-button
        type="button"
        icon="pi pi-angle-right"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorlastpagelinkicon">
      <p-button
        type="button"
        icon="pi pi-angle-double-right"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <!-- <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" (click)="storeNewDriver()"></p-button> -->
    </ng-template>
  </p-table>
</div>
<ng-template #createDialog let-dialog let-ref="dialogRef">
  <nb-card>
    <nb-card-header> Drivers!</nb-card-header>
    <nb-card-body class="d-flex align-items-center">
      <label for="">Assign Driver: </label>
      <!-- <nb-select
            placeholder="Select Driver"
            class=""
            [(selected)]="selectedDriver"
          >
            <nb-option [value]="driver" *ngFor="let driver of drivers">{{
              driver.name
            }}</nb-option>
          </nb-select> -->

      <input
        #autoInput
        nbInput
        type="text"
        (input)="onDriverChange()"
        placeholder="Select Driver"
        [value]="selectedDriver?.name"
        [nbAutocomplete]="autoDriver"
      />

      <nb-autocomplete
        #autoDriver
        (selectedChange)="onDriverSelectionChange($event)"
      >
        <nb-option
          *ngFor="let option of filteredDrivers$ | async"
          [value]="option"
        >
          {{ option.name }}
        </nb-option>
      </nb-autocomplete>
    </nb-card-body>
    <nb-card-footer class="button-group">
      <button nbButton class="mr-2" (click)="ref.close()">Cancel</button>
      <button
        nbButton
        [nbSpinner]="loading"
        nbSpinnerStatus="basic"
        [disabled]="loading"
        status="primary"
        type="submit"
        (click)="onDriverSelected(); ref.close()"
      >
        Save
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
