/* status.component.css */

.bg-pickedup {
  color: #f0ad4e; /* Customize this color as needed */
}

.bg-delivered {
  color: #5bc0de; /* Customize this color as needed */
}

.bg-cancelled {
  color: #d9534f; /* Customize this color as needed */
}
