<div class="services-swiper-section position-relative">
  <swiper [config]="swiperConfig">
    <ng-template swiperSlide>
      <section class="slide-section d-md-flex">
        <div class="w-md-50 image-bg">
          <img
            src="../../../assets/img/services-bg.png"
            alt=""
            class="w-100 h-100 object-fit-cover d-md-none"
          />
        </div>
        <div class="w-md-50 py-6 bg-blue-2">
          <div class="container-end">
            <div class="ps-md-3 ps-lg-5 pb-5">
              <p class="text-light-2">LABYFI Courier Services</p>
              <h1 class="text-white display-3 fw-bold my-3">Reliability</h1>
              <p class="text-light-2 my-3">
                We aim to be the trusted partner for healthcare professionals,
                providing unwavering reliability in the secure and punctual
                transportation of medical materials.
              </p>
              <!-- <button class="btn py-3 btn-primary">get your quote</button> -->
            </div>
          </div>
        </div>
      </section>
    </ng-template>

    <ng-template swiperSlide>
      <section class="slide-section d-md-flex">
        <div class="w-md-50 image-bg">
          <img
            src="../../../assets/img/services-bg.png"
            alt=""
            class="w-100 h-100 object-fit-cover d-md-none"
          />
        </div>
        <div class="w-md-50 py-6 bg-blue-2">
          <div class="container-end">
            <div class="ps-md-3 ps-lg-5 pb-5">
              <p class="text-light-2">LABYFI Courier Services</p>
              <h1 class="text-white display-3 fw-bold my-3">
                Patient-Centric Excellence
              </h1>
              <p class="text-light-2 my-3">
                We prioritize the well-being of patients by enabling timely
                access to critical medical supplies, diagnostics, and
                life-saving medications.
              </p>
              <!-- <button class="btn py-3 btn-primary">get your quote</button> -->
            </div>
          </div>
        </div>
      </section>
    </ng-template>

    <ng-template swiperSlide>
      <section class="slide-section d-md-flex">
        <div class="w-md-50 image-bg">
          <img
            src="../../../assets/img/services-bg.png"
            alt=""
            class="w-100 h-100 object-fit-cover d-md-none"
          />
        </div>
        <div class="w-md-50 py-6 bg-blue-2">
          <div class="container-end">
            <div class="ps-md-3 ps-lg-5 pb-5">
              <p class="text-light-2">LABYFI Courier Services</p>
              <h1 class="text-white display-3 fw-bold my-3">
                Compliance and Ethical Standards
              </h1>
              <p class="text-light-2 my-3">
                Our commitment to ethical conduct, patient privacy, and
                compliance with healthcare regulations is unwavering. We uphold
                the highest standards in all our operations.
              </p>
              <!-- <button class="btn py-3 btn-primary">get your quote</button> -->
            </div>
          </div>
        </div>
      </section>
    </ng-template>

    <ng-template swiperSlide>
      <section class="slide-section d-md-flex">
        <div class="w-md-50 image-bg">
          <img
            src="../../../assets/img/services-bg.png"
            alt=""
            class="w-100 h-100 object-fit-cover d-md-none"
          />
        </div>
        <div class="w-md-50 py-6 bg-blue-2">
          <div class="container-end">
            <div class="ps-md-3 ps-lg-5 pb-5">
              <p class="text-light-2">LABYFI Courier Services</p>
              <h1 class="text-white display-3 fw-bold my-3">
                Customized Solutions
              </h1>
              <p class="text-light-2 my-3">
                We understand that each client's needs are unique. Our vision is
                to provide tailored solutions, whether on-demand, scheduled, or
                specialized, to meet these distinct requirements.
              </p>
              <!-- <button class="btn py-3 btn-primary">get your quote</button> -->
            </div>
          </div>
        </div>
      </section>
    </ng-template>

    <ng-template swiperSlide>
      <section class="slide-section d-md-flex">
        <div class="w-md-50 image-bg">
          <img
            src="../../../assets/img/services-bg.png"
            alt=""
            class="w-100 h-100 object-fit-cover d-md-none"
          />
        </div>
        <div class="w-md-50 py-6 bg-blue-2">
          <div class="container-end">
            <div class="ps-md-3 ps-lg-5 pb-5">
              <p class="text-light-2">LABYFI Courier Services</p>
              <h1 class="text-white display-3 fw-bold my-3">Professionalism</h1>
              <p class="text-light-2 my-3">
                Professionalism is at the core of our identity. Our staff is
                well-trained, our processes are rigorous, and our interactions
                with clients reflect the highest level of professionalism.
              </p>
              <!-- <button class="btn py-3 btn-primary">get your quote</button> -->
            </div>
          </div>
        </div>
      </section>
    </ng-template>

    <ng-template swiperSlide>
      <section class="slide-section d-md-flex">
        <div class="w-md-50 image-bg">
          <img
            src="../../../assets/img/services-bg.png"
            alt=""
            class="w-100 h-100 object-fit-cover d-md-none"
          />
        </div>
        <div class="w-md-50 py-6 bg-blue-2">
          <div class="container-end">
            <div class="ps-md-3 ps-lg-5 pb-5">
              <p class="text-light-2">LABYFI Courier Services</p>
              <h1 class="text-white display-3 fw-bold my-3">
                Transparency and Trust
              </h1>
              <p class="text-light-2 my-3">
                We commit to transparent pricing, open communication, and
                building trust with our clients to empower them with the
                information they need to make informed decisions.
              </p>
              <!-- <button class="btn py-3 btn-primary">get your quote</button> -->
            </div>
          </div>
        </div>
      </section>
    </ng-template>

    <ng-template swiperSlide>
      <section class="slide-section d-md-flex">
        <div class="w-md-50 image-bg">
          <img
            src="../../../assets/img/services-bg.png"
            alt=""
            class="w-100 h-100 object-fit-cover d-md-none"
          />
        </div>
        <div class="w-md-50 py-6 bg-blue-2">
          <div class="container-end">
            <div class="ps-md-3 ps-lg-5 pb-5">
              <p class="text-light-2">LABYFI Courier Services</p>
              <h1 class="text-white display-3 fw-bold my-3">
                Quality and Accuracy
              </h1>
              <p class="text-light-2 my-3">
                We minimize errors in our transportation processes, ensuring the
                precise and secure handling of medical materials, which reduces
                the risk of errors or damage.
              </p>
              <!-- <button class="btn py-3 btn-primary">get your quote</button> -->
            </div>
          </div>
        </div>
      </section>
    </ng-template>

    <ng-template swiperSlide>
      <section class="slide-section d-md-flex">
        <div class="w-md-50 image-bg">
          <img
            src="../../../assets/img/services-bg.png"
            alt=""
            class="w-100 h-100 object-fit-cover d-md-none"
          />
        </div>
        <div class="w-md-50 py-6 bg-blue-2">
          <div class="container-end">
            <div class="ps-md-3 ps-lg-5 pb-5">
              <p class="text-light-2">LABYFI Courier Services</p>
              <h1 class="text-white display-3 fw-bold my-3">
                Continuous Improvement
              </h1>
              <p class="text-light-2 my-3">
                We foster a culture of continuous improvement, actively seeking
                feedback from clients and staff to enhance our services and
                operations.
              </p>
              <!-- <button class="btn py-3 btn-primary">get your quote</button> -->
            </div>
          </div>
        </div>
      </section>
    </ng-template>
  </swiper>

  <div class="swiper-pagination"></div>
</div>

<section class="services-section py-6 bg-light-1">
  <div class="container">
    <p class="text-green text-center fw-bold">SERVICES</p>
    <h2 class="text-center mt-2 mb-5">Our services for you</h2>

    <div class="row justify-content-center">
      <div class="col-md-4 my-3">
        <div class="custom-card h-100 d-flex flex-column gap-4">
          <span
            class="icon mx-auto d-flex justify-content-center align-items-center rounded-circle bg-green p-2"
            ><i
              class="fa-solid fa-prescription-bottle-medical fa-2xl text-white"
            ></i
          ></span>

          <h4 class="text-center m-0">Ensuring Patient Well-being</h4>

          <p class="text-gray-2 text-center">
            We understand the critical nature of our deliveries and are
            committed to safeguarding patient health by reliably transporting
            medical specimens, equipment, and supplies.
          </p>

          <!-- <ul class="d-flex flex-column gap-2">
            <li><span>Just example dummy text</span></li>
            <li><span>Simply dummy text</span></li>
            <li><span>Just example dummy text</span></li>
            <li><span>Simply dummy text</span></li>
          </ul>

          <button class="btn py-3 border-blue-2 text-blue-2 fw-bold">
            Learn more
          </button> -->
        </div>
      </div>
      <div class="col-md-4 my-3">
        <div class="custom-card h-100 d-flex flex-column gap-4">
          <span
            class="icon mx-auto d-flex justify-content-center align-items-center rounded-circle bg-green p-2"
            ><i
              class="fa-solid fa-prescription-bottle-medical fa-2xl text-white"
            ></i
          ></span>

          <h4 class="text-center m-0">Healthcare Partner Support</h4>

          <p class="text-gray-2 text-center">
            We work as an integral part of the healthcare ecosystem, offering
            dependable logistics solutions to healthcare facilities,
            laboratories, and pharmaceutical companies to enhance the quality of
            patient care.
          </p>

          <!-- <ul class="d-flex flex-column gap-2">
            <li><span>Just example dummy text</span></li>
            <li><span>Simply dummy text</span></li>
            <li><span>Just example dummy text</span></li>
            <li><span>Simply dummy text</span></li>
          </ul>

          <button class="btn py-3 border-blue-2 text-blue-2 fw-bold">
            Learn more
          </button> -->
        </div>
      </div>
      <div class="col-md-4 my-3">
        <div class="custom-card h-100 d-flex flex-column gap-4">
          <span
            class="icon mx-auto d-flex justify-content-center align-items-center rounded-circle bg-green p-2"
            ><i
              class="fa-solid fa-prescription-bottle-medical fa-2xl text-white"
            ></i
          ></span>

          <h4 class="text-center m-0">Professionalism and Compliance</h4>

          <p class="text-gray-2 text-center">
            We maintain the highest standards of professionalism, safety, and
            regulatory compliance. Our team is trained to handle medical
            materials with care and in accordance with industry regulations.
          </p>

          <!-- <ul class="d-flex flex-column gap-2">
            <li><span>Just example dummy text</span></li>
            <li><span>Simply dummy text</span></li>
            <li><span>Just example dummy text</span></li>
            <li><span>Simply dummy text</span></li>
          </ul>

          <button class="btn py-3 border-blue-2 text-blue-2 fw-bold">
            Learn more
          </button> -->
        </div>
      </div>
      <div class="col-md-4 my-3">
        <div class="custom-card h-100 d-flex flex-column gap-4">
          <span
            class="icon mx-auto d-flex justify-content-center align-items-center rounded-circle bg-green p-2"
            ><i
              class="fa-solid fa-prescription-bottle-medical fa-2xl text-white"
            ></i
          ></span>

          <h4 class="text-center m-0">Environmental Responsibility</h4>

          <p class="text-gray-2 text-center">
            We aim to minimize our environmental footprint by implementing
            sustainable practices and technologies in our operations.
          </p>

          <!-- <ul class="d-flex flex-column gap-2">
            <li><span>Just example dummy text</span></li>
            <li><span>Simply dummy text</span></li>
            <li><span>Just example dummy text</span></li>
            <li><span>Simply dummy text</span></li>
          </ul>

          <button class="btn py-3 border-blue-2 text-blue-2 fw-bold">
            Learn more
          </button> -->
        </div>
      </div>
      <div class="col-md-4 my-3">
        <div class="custom-card h-100 d-flex flex-column gap-4">
          <span
            class="icon mx-auto d-flex justify-content-center align-items-center rounded-circle bg-green p-2"
            ><i
              class="fa-solid fa-prescription-bottle-medical fa-2xl text-white"
            ></i
          ></span>

          <h4 class="text-center m-0">Customer Satisfaction</h4>

          <p class="text-gray-2 text-center">
            We prioritize our customers' needs and satisfaction, striving to
            exceed their expectations through transparent communication and
            outstanding service.
          </p>

          <!-- <ul class="d-flex flex-column gap-2">
            <li><span>Just example dummy text</span></li>
            <li><span>Simply dummy text</span></li>
            <li><span>Just example dummy text</span></li>
            <li><span>Simply dummy text</span></li>
          </ul>

          <button class="btn py-3 border-blue-2 text-blue-2 fw-bold">
            Learn more
          </button> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-6 bg-blue-2">
  <div class="container">
    <div class="d-flex flex-wrap gap-5 justify-content-center">
      <div class="d-flex flex-column gap-3 align-items-center">
        <p><i class="fa-regular fa-map fa-2xl text-white"></i></p>
        <p class="fw-bold text-green fs-3">65+</p>
        <p class="text-white fw-bold text-nowrap">States covered</p>
      </div>

      <div class="d-flex flex-column gap-3 align-items-center">
        <p><i class="fa-solid fa-user-large fa-2xl text-white"></i></p>
        <p class="fw-bold text-green fs-3">689K+</p>
        <p class="text-white fw-bold text-nowrap">Happy clients</p>
      </div>

      <div class="d-flex flex-column gap-3 align-items-center">
        <p><i class="fa-solid fa-truck fa-2xl text-white"></i></p>
        <p class="fw-bold text-green fs-3">130M+</p>
        <p class="text-white fw-bold text-nowrap">Goods delivered</p>
      </div>

      <div class="d-flex flex-column gap-3 align-items-center">
        <p><i class="fa-solid fa-briefcase fa-2xl text-white"></i></p>
        <p class="fw-bold text-green fs-3">130M+</p>
        <p class="text-white fw-bold text-nowrap">Business hours</p>
      </div>
    </div>

    <div class="video-section mt-5 position-relative">
      <div class="video-bg">
        <video
          src="../../../assets/videos/services-bg .mp4"
          autoplay
          loop
        ></video>
      </div>
      <div class="position-relative content px-5 py-6">
        <h2 class="text-center text-green pt-5">LABYFI Courier Service</h2>
        <p class="text-center text-white mt-4 w-md-75 w-lg-50 mx-auto pb-5">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s
        </p>
      </div>
    </div>
  </div>
</section>

<section class="py-6 bg-blue-2">
  <div
    class="container text-center d-flex flex-column justify-content-center align-items-center gap-4"
  >
    <h2 class="text-white w-md-50 display-4 fw-bold lh-base">
      get your quote <span class="text-green">now</span>
    </h2>
    <p class="w-md-75 fs-4 text-white">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry
    </p>
    <button class="btn bg-green fs-5 px-5 py-3 fw-semibold">
      get your quote
    </button>
  </div>
</section>
