<section class="video">
  <video src="../../../assets/videos/home-video.mp4" loop autoplay></video>
</section>

<section class="cards-section-wrapper">
  <div class="cards-section w-100 py-5">
    <div class="container">
      <div class="row gap-4 gap-md-0">
        <div class="col-md">
          <div
            class="custom-card rounded-4 h-100 d-flex flex-column align-items-start"
          >
            <span
              class="d-inline-block ratio-1x1 p-3 rounded-circle bg-gradient-1"
            >
              <img src="../../../assets/img/icons/003-cardiogram.svg" alt="" />
            </span>
            <h2 class="py-4 m-0 fs-5 text-blue-2">Courier Services</h2>
            <p class="py-4 m-0 text-gray-2 fs-small">
              To be the leading medical courier company, LABYFI is setting the
              gold standard for secure and timely healthcare logistics. We are
              continously working to transform the healthcare supply chain by
              delivering excellence at every step, ensuring the seamless flow of
              medical materials, and contributing to improved patient care
            </p>
            <a
              routerLink="services"
              class="text-blue-2 hover:text-green d-inline-block mt-auto"
              >Learn more
              <i class="fa-solid fa-circle-arrow-right text-green ms-1"></i
            ></a>
          </div>
        </div>
        <div class="col-md">
          <div
            class="custom-card rounded-4 h-100 d-flex flex-column align-items-start"
          >
            <span class="d-inline-block ratio-1x1 p-3 rounded-circle bg-green">
              <img src="../../../assets/img/icons/003-cardiogram.svg" alt="" />
            </span>
            <h2 class="py-4 m-0 fs-5 text-blue-2">Market Place</h2>
            <p class="py-4 m-0 text-gray-2 fs-small">
              At LABYFI's marketplace we have created a user-friendly e-commerce
              platform where customers can easily search, browse, and purchase
              medical supplies. The platform includes secure payment processing
              and product reviews.
            </p>
            <a
              routerLink="market-place"
              class="text-blue-2 hover:text-green d-inline-block mt-auto"
              >Learn more
              <i class="fa-solid fa-circle-arrow-right text-green ms-1"></i
            ></a>
          </div>
        </div>
        <div class="col-md">
          <div
            class="custom-card rounded-4 h-100 d-flex flex-column align-items-start"
          >
            <span
              class="d-inline-block ratio-1x1 p-3 rounded-circle bg-gradient-1"
            >
              <img src="../../../assets/img/icons/003-cardiogram.svg" alt="" />
            </span>
            <h2 class="py-4 m-0 fs-5 text-blue-2">Warehouse</h2>
            <p class="py-4 m-0 text-gray-2 fs-small">
              At LABYFI's Warehouse, we are dedicated to the highest standards
              of service, integrity, and excellence in healthcare logistics. We
              offer our clients a vast suite of selection for their practice's
              needs. Not only are you able to customize your kits, but you can
              have them prefilled and delivered to your clients doorsteps at no
              hassle to you . Our virtual warehouse will allow for our clients
              to know their stock and threshholds and to place orders through
              our online portal.
            </p>
            <a
              routerLink="warehouse"
              class="text-blue-2 hover:text-green mt-auto d-inline-block"
              >Learn more
              <i class="fa-solid fa-circle-arrow-right text-green ms-1"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="vision-mission" class="vision-section bg-light-1 py-6">
  <div class="container">
    <div class="row">
      <div class="col-lg-6"></div>
      <div class="col-lg-6">
        <h2 class="text-blue-2 fs-3 text-uppercase pt-3">LABYFI vision</h2>
        <p class="text-gray-2">
          Empowering Healthcare through Seamless Logistics. This commitment is
          the foundation of our mission to play an essential role in the
          healthcare industry, contributing to better patient care, healthcare
          provider success, and the overall well-being of our communities.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="vision-section bg-light-1 py-6">
  <div class="container">
    <div class="row">
      <div class="col-lg-6"></div>
      <div class="col-lg-6">
        <h2 class="text-blue-2 fs-3 text-uppercase mt-4">LABYFI mission</h2>
        <p class="text-gray-2 pb-3">
          Our mission is to provide the highest quality medical courier services
          with a focus on reliability, security, and efficiency. We are
          dedicated to ensuring the safe and timely transport of vital
          healthcare supplies, specimens, and equipment, enabling healthcare
          providers to deliver exceptional patient care. We are committed to
          adhering to the strictest standards of professionalism,
          confidentiality, and compliance, making a positive impact on the
          healthcare industry by facilitating the seamless flow of essential
          medical items. Our team's dedication to excellence and our unwavering
          commitment to our clients drive us to continually improve and innovate
          in the field of medical logistics.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-blue-2 py-6">
  <div class="container">
    <div
      class="d-flex flex-column justify-content-center text-center mx-auto w-lg-75"
    >
      <!-- <p class="text-white">LABYFI Example Txt</p> -->
      <p class="text-white fs-3">
        We maintain the highest standards of professionalism, safety, and
        regulatory compliance. Our team is trained to handle medical materials
        with care and in accordance with industry regulations.
      </p>
    </div>
    <hr class="text-light-2 my-5" />
    <div class="row p-4">
      <div class="col-md-6">
        <p class="fs-1 text-white">
          We are <span class="text-green">commited.</span>
        </p>
      </div>
      <div class="col-md-6">
        <p class="text-light-2 fs-5">
          Delivering the utmost level of service to you and your clients.
        </p>
      </div>
    </div>

    <div class="row p-4">
      <div class="col-md-6">
        <p class="fs-1 text-white">
          We aim for <span class="text-green">progress.</span>
        </p>
      </div>
      <div class="col-md-6">
        <p class="text-light-2 fs-5">
          Consistently delivering a tailored and adaptable model for your needs.
        </p>
      </div>
    </div>

    <div class="row p-4">
      <div class="col-md-6">
        <p class="fs-1 text-white">
          We are <span class="text-green">responsible.</span>
        </p>
      </div>
      <div class="col-md-6">
        <p class="text-light-2 fs-5">
          We recognize the delicate significance and importance of each of your
          deliveries.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <img src="../../../assets/img/Slider.png" class="img-fluid w-100" alt="" />
</section>
