<footer class="bg-gray-4">
  <div class="container py-5">
    <div class="row justify-content-between gap-4 gap-lg-0">
      <div class="col-lg-8">
        <div class="row gap-4">
          <div class="col-md col-lg-3">
            <ul class="links">
              <li>
                <h4 class="text-white fs-5">Company</h4>
              </li>
              <li><a routerLink="/" (click)="scrollToTop()" class="nav-link text-white">Services</a></li>
              <li>
                <a routerLink="/" (click)="scrollToSection('vision-mission')" class="nav-link text-white">About</a>
              </li>
              <li><a routerLink="/career" class="nav-link text-white">Careers</a></li>
            </ul>
          </div>
          <div class="col-md col-lg-3">
            <ul class="links">
              <li>
                <h4 class="text-white fs-5">help</h4>
              </li>
              <li>
                <a routerLink="/" (click)="scrollToSection('contact')" class="nav-link text-white">Contact Us</a>
              </li>
              <li><a routerLink="/" (click)="scrollToSection('contact')" class="nav-link text-white">Pricing</a></li>
            </ul>
          </div>
          <div class="col-md col-lg-3">
            <ul class="links">
              <li>
                <h4 class="text-white fs-5">legal</h4>
              </li>
              <li>
                <a routerLink="/privacy-policy" class="nav-link text-white">Privacy Policy</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <ul class="links">
          <li>
            <h4 class="text-white fs-5">For Further assistance</h4>
          </li>
          <li>
            <a href="tel:(631)-836-8077" target="_blank" class="nav-link text-white"><i
                class="fa-solid fa-phone text-green me-2"></i>(631)-836-8077</a>
          </li>
          <li>
            <span class="text-white"><i class="fa-solid fa-location-dot text-green me-2"></i>Rye,
              NY</span>
          </li>
          <li>
            <a href="mailto:info@labyfi.com" target="_blank" class="nav-link text-white"><i
                class="fa-solid fa-envelope text-green me-2"></i>info@labyfi.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container pb-5 pt-3">
    <p class="text-white text-center">© 2023 LABYFI. All Right Researved</p>
  </div>
</footer>
