<div class="active-map">
  <nb-card>
    <nb-card-header> Add New Company Address </nb-card-header>
    <nb-card-body>

      <!-- <div class="d-flex ">
        <div class="city d-flex  align-items-center justify-content-between ">
          <label for="">Customer Name</label>
          <input type="text" class="ml-3" nbInput  [value]="companyName || ''" />
        </div>
        <div class="city ml-3 d-flex align-items-center justify-content-between">
          <label for="">Main Phone</label>
          <input type="text" class="ml-3" nbInput   />
        </div>
      </div> -->
      <!-- <input ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)" /> -->
      <form [formGroup]="addressForm">
        <div class="input-group">
          <div class="input">
            <label for="name">Name <span class="required">(Required)</span></label>
            <input id="name" type="text" formControlName="name" nbInput placeholder="Name" [status]="
        isFieldTouched('name')
          ? isFieldValid('name')
            ? 'success'
            : 'danger'
          : 'basic'
      " />
            <p class="caption status-danger" *ngIf="isFieldInvalid('name')">
              Name is required!
            </p>
          </div>
          <div class="input">
            <label for="room_floor">Phone</label>
            <input id="room_floor" type="text" formControlName="phone" nbInput placeholder="Phone" />

          </div>
          <div class="input">
            <label for="room_floor">Ext</label>
            <input id="room_floor" type="text" nbInput formControlName="ext" placeholder="Ext" />

          </div>
        </div>
        <div class="input">
          <label for="notes">Notes</label>
          <textarea id="notes" nbInput fullWidth placeholder="Notes" formControlName="notes" [status]="
              isFieldTouched('notes')
                ? isFieldValid('notes')
                  ? 'success'
                  : 'danger'
                : 'basic'
            "></textarea>

        </div>
        <div class="input-group mb-3">

          <div class="input">
            <label for="address">Address Line 1<span class="required">(Required)</span></label>
            <!-- <input id="address" type="text" formControlName="address" nbInput placeholder="Address" [status]="
                isFieldTouched('address')
                  ? isFieldValid('address')
                    ? 'success'
                    : 'danger'
                  : 'basic'
              " /> -->
            <AutocompleteComponent (setAddress)="handleAddressChange($event)" class="auto-fill" adressType="geocode">
            </AutocompleteComponent>

            <p class="caption status-danger" *ngIf="isFieldInvalid('address')">
              Address is required!
            </p>
          </div>
          <div class="input">
            <label for="addressLine2">Address Line 2</label>
            <input id="addressLine2" type="text" nbInput placeholder="Address Line 2" formControlName="address_2" />

          </div>
          <div class="input">
            <label for="suite">Suite</label>
            <input id="suite" type="text" nbInput placeholder="Suite" formControlName="suit" />

          </div>
          <div class="input">
            <label for="room_floor">Floor</label>
            <input id="room_floor" type="text" formControlName="room_floor" nbInput placeholder="Floor" [status]="
                isFieldTouched('room_floor')
                  ? isFieldValid('room_floor')
                    ? 'success'
                    : 'danger'
                  : 'basic'
              " />
            <p class="caption status-danger" *ngIf="isFieldInvalid('room_floor')">
              Room floor is required!
            </p>
          </div>
        </div>





      </form>
      <div class="">
        <div class="postalcode-input-group">
          <label for="postalcode">Postal code <span class="required">(Required)</span></label>
          <input id="postalcode" type="text" class="ml-3" #postalCodeInput [(ngModel)]="postalCode" nbInput placeholder="Enter postal code" />
          <!-- <button nbButton status="primary" (click)="getAddressData()">
            Verify
          </button> -->
          <div class="city d-flex align-items-center ">
            <label for="">City</label>
            <input type="text" class="ml-3" nbInput #cityInput [(ngModel)]="city" placeholder="Enter City" />
          </div>
          <div class="city d-flex align-items-center ">
            <label for="">State</label>
            <input type="text" class="ml-3" #stateInput nbInput [(ngModel)]="state" placeholder="Enter State" />
          </div>
        </div>
        <p class="caption status-danger" *ngIf="showPostalcodeError">
          Invalid postal code!
        </p>
      </div>

      <!-- <p *ngIf="showPostalCodeAlert" class="alert">
        Please verify the postal code to add your address
      </p> -->
      <div class="mx-5" style="margin: 1rem 0">
        <ngx-pin-address-map  *ngIf="postalCodeAdded" [pinPosition]="pinPosition"
          (markerPositionChanged)="setPinPosition($event)">

        </ngx-pin-address-map>
      </div>
      <!-- <div class="postalcode-input-group">
        <div class="city d-flex align-items-center ">
          <label for="">Account Manager</label>
          <input type="text" class="ml-3" nbInput  />
        </div>
        <div class="city d-flex align-items-center ml-5">
          <label for="">Phone Number</label>
          <input type="text" class="ml-3" nbInput  />
        </div>
      </div> -->
      <div class="button-group">
        <button nbButton type="submit" (click)="goBack()">Cancel</button>

        <button nbButton status="primary" type="submit" (click)="onSubmit()">Save Address</button>
      </div>
    </nb-card-body>
  </nb-card>
</div>
