<section *ngIf="order" class="pb-5 pt-4 bg-light">
  <div class="container">
    <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/profile" class="text-gray-3 hover:text-green"
            >Account</a
          >
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/profile/orders" class="text-gray-3 hover:text-green"
            >My Orders</a
          >
        </li>
        <li class="breadcrumb-item active text-blue-2" aria-current="page">
          <span class="fw-semibold">Order id #{{ order.id }}</span>
        </li>
      </ol>
    </nav>

    <div class="bg-white border-light-3 p-4">
      <div class="d-flex flex-wrap gap-4">
        <span class="text-gray-3"
          >Code: <span class="fw-semibold">{{ order.code }}</span></span
        >
        <!-- <span class="text-gray-3"
          >Status:
          <span class="text-green">{{ order.order_status }}</span></span
        > -->
      </div>
      <p class="mt-2">
        <span class="text-gray-3"
          >Payment method:
          <span class="text-blue-3">{{
            order.payment_type === "Stripe" ? "pay by card" : "cash on delivery"
          }}</span></span
        >
      </p>
    </div>

    <div class="row gap-4 gap-md-0 my-4">
      <!-- <div class="col-md-6">
        <div class="border-light-3 bg-white p-4 h-100">
          <h3 class="text-gray-3 fs-5 fw-semibold mb-3">Shipping Details</h3>
          <div class="d-flex flex-column gap-3">
            <p class="text-gray-2">
              Deliver to: <span class="text-gray-3">Mohamed Elhossiny</span>
            </p>
            <p class="text-gray-2">
              Deliver address:
              <span class="text-gray-3"
                >Al mansoura, Exmaple, Lebanon street, Alagoza, Next to Egybank,
                Egypt, Ummm Example</span
              >
            </p>
            <p class="text-gray-2">
              Floor name/number: <span class="text-gray-3">1</span>
            </p>
            <p class="text-gray-2">
              Location type: <span class="text-gray-3">Home</span>
            </p>
            <p class="text-gray-2">
              Phone number: <span class="text-gray-3">+201124784249</span>
            </p>
            <p class="text-gray-2">
              Shipping fees: <span class="text-gray-3">Free</span>
            </p>
          </div>
        </div>
      </div> -->

      <div class="col-md-6">
        <div class="border-light-3 bg-white p-4">
          <h3 class="text-gray-3 fs-5 fw-semibold mb-3">Order Summary</h3>

          <hr />
          <div class="d-flex flex-column gap-2">
            <div class="d-flex justify-content-between">
              <span class="fw-semibold text-gray-2">Subtotal</span>
              <span class="fw-semibold text-gray-4"
                >${{ order.subtotal | number : "1.2-2" }}</span
              >
            </div>
            <div
              *ngIf="order.coupon_price"
              class="d-flex justify-content-between"
            >
              <span class="fw-semibold text-gray-2">Discount</span>
              <span class="fw-semibold text-gray-4"
                >-${{ order.coupon_price | number : "1.2-2" }}</span
              >
            </div>
            <div
              *ngIf="order.shipping_price"
              class="d-flex justify-content-between"
            >
              <span class="fw-semibold text-gray-2">Shipping Fee</span>
              <span class="fw-semibold text-gray-4"
                >${{ order.shipping_price | number : "1.2-2" }}</span
              >
            </div>
          </div>

          <hr />
          <div class="d-flex justify-content-between">
            <span class="fw-bold text-gray-2">Total</span>
            <span class="fw-bold text-gray-4"
              >${{ order.grand_total | number : "1.2-2" }}</span
            >
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="border-light-3 bg-white p-4 h-100">
          <h3 class="text-gray-3 fs-5 fw-semibold mb-3">Order Items</h3>

          <div class="d-flex flex-column">
            <ng-container *ngFor="let item of order.items; let i = index">
              <div class="d-flex gap-4">
                <div class="item-img">
                  <img
                    [src]="item.image"
                    class="h-100 w-100 object-fit-contain"
                    [alt]="item.product_name"
                  />
                </div>
                <div class="">
                  <p class="text-gray-3 fw-semibold">
                    {{ item.product_name }}
                  </p>
                  <p class="text-gray-2">
                    QTY: {{ item.quantity }}
                    <span>{{ item.color_name }} {{ item.dimension }}</span>
                  </p>
                  <p class="fw-bold text-gray-4">
                    ${{ item.total_item_price | number : "1.2-2" }}
                  </p>
                </div>
              </div>
              <hr *ngIf="i != order.items.length - 1" />
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="loading" class="pb-5 pt-4 bg-light">
  <div class="container">
    <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/profile" class="text-gray-3 hover:text-green"
            >Account</a
          >
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/profile/orders" class="text-gray-3 hover:text-green"
            >My Orders</a
          >
        </li>
        <li class="breadcrumb-item active text-blue-2" aria-current="page">
          <span class="fw-semibold">Order id # </span>
        </li>
      </ol>
    </nav>

    <div class="bg-white border-light-3 p-4">
      <div class="d-flex flex-wrap gap-4">
        <span class="text-gray-3"
          >Code:
          <span class="fw-semibold"
            ><ngx-skeleton-loader
              [theme]="{width: '200px','border-radius': '0',}"
            ></ngx-skeleton-loader></span
        ></span>
      </div>
      <p class="mt-2">
        <span class="text-gray-3"
          >Payment method:
          <span class="text-blue-3"
            ><ngx-skeleton-loader
              [theme]="{width: '200px','border-radius': '0',}"
            ></ngx-skeleton-loader></span
        ></span>
      </p>
    </div>

    <div class="row gap-4 gap-md-0 my-4">
      <div class="col-md-6">
        <div class="border-light-3 bg-white p-4">
          <h3 class="text-gray-3 fs-5 fw-semibold mb-3">Order Summary</h3>

          <hr />
          <div class="d-flex flex-column gap-2">
            <div class="d-flex justify-content-between">
              <span class="fw-semibold text-gray-2">Subtotal</span>
              <span class="fw-semibold text-gray-4"
                ><ngx-skeleton-loader
                  [theme]="{width: '100px','border-radius': '0',}"
                ></ngx-skeleton-loader
              ></span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="fw-semibold text-gray-2">Shipping Fee</span>
              <span class="fw-semibold text-gray-4"
                ><ngx-skeleton-loader
                  [theme]="{width: '100px','border-radius': '0',}"
                ></ngx-skeleton-loader
              ></span>
            </div>
          </div>

          <hr />
          <div class="d-flex justify-content-between">
            <span class="fw-bold text-gray-2">Total</span>
            <span class="fw-bold text-gray-4"
              ><ngx-skeleton-loader
                [theme]="{width: '100px','border-radius': '0',}"
              ></ngx-skeleton-loader
            ></span>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="border-light-3 bg-white p-4 h-100">
          <h3 class="text-gray-3 fs-5 fw-semibold mb-3">Order Items</h3>

          <div class="d-flex flex-column">
            <ng-container *ngFor="let _ of [].constructor(3); let i = index">
              <div class="d-flex gap-4">
                <div class="item-img">
                  <ngx-skeleton-loader
                    [theme]="{width: '70px', height: '70px', 'border-radius': '0',}"
                  ></ngx-skeleton-loader>
                </div>
                <div class="">
                  <p class="text-gray-3 fw-semibold">
                    <ngx-skeleton-loader
                      [theme]="{width: '200px','border-radius': '0',}"
                    ></ngx-skeleton-loader>
                  </p>
                  <p class="text-gray-2">
                    QTY:
                    <ngx-skeleton-loader
                      [theme]="{width: '100px','border-radius': '0',}"
                    ></ngx-skeleton-loader>
                  </p>
                  <p class="fw-bold text-gray-4">
                    <ngx-skeleton-loader
                      [theme]="{width: '100px','border-radius': '0',}"
                    ></ngx-skeleton-loader>
                  </p>
                </div>
              </div>
              <hr *ngIf="i != 2" />
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
